<br>
<meta name="viewport" content="initial-size=1.0,width=device-witdh">
<script src="https://kit.fontawesome.com/e2b5df736c.js" crossorigin="anonymous"></script>
<div class="cont">
    <div class="div">Min/Max:{{WeatherData.temp_min}}° / {{WeatherData.temp_max}}°</div>
    <div class="div"> Temp:{{WeatherData.temp_celcius}}°</div>
    <div class="div">Location:{{WeatherData.name}}</div>
    <div class="div">Feels Like: {{WeatherData.temp_feels_like}}°</div>
    <div class="div">Humidity: {{WeatherData.main.humidity}}</div>
    <img class="sun" src="../../../assets/sun.jpg" width="100" height="100">
</div>
